<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Events and competitions" />
    <title>Qbytic</title>
    <link rel="preconnect" href="https://pfonts.vercel.app/" crossorigin />
    <link rel="preload" href="https://pfonts.vercel.app/nexa.css" as="style" />
    <link rel="preload" href="https://pfonts.vercel.app/nats.css" as="style" />
    <link
      rel="stylesheet"
      href="https://pfonts.vercel.app/nexa.css"
      media="print"
      onload="this.media='all'"
    />
    <link
      rel="stylesheet"
      href="https://pfonts.vercel.app/nats.css"
      media="print"
      onload="this.media='all'"
    />
    <script data-js="touch-intent-css-fix">
      <%= htmlWebpackPlugin.options.touchIntentCSS %>
    </script>
    <style>
      <%= htmlWebpackPlugin.options.css %>
      /***/
    </style>
    <base href="/" />
  </head>
  <body>
    <div id="app-mount">
      <noscript>This App uses JavaScript...</noscript>
    </div>
  </body>
</html>
