html {
  --translate-normal-pos: translate(1%, 100%);
  --translate-up: translateY(12px);
}

@keyframes moveUp {
  0% {
    transform: var(--translate-normal-pos);
  }
  to {
    transform: var(--translate-up);
    color: var(--qbytic-blue);
  }
}
@keyframes moveDown {
  0% {
    transform: var(--translate-up);
  }
  to {
    transform: var(--translate-normal-pos);
    color: var(--input-color);
  }
}
