html {
  -webkit-tap-highlight-color: transparent;
  --background-dark: #000;
  --background-light: #fff;
  --qbytic-blue: #4dc5c9;
  --input-color: #4e4e4e;
  --header-font-family: "nexa";
  --mask-color: rgba(48, 48, 48, 0.8);
}
body.dark,
body {
  padding: 0;
  margin: 0;
  transition: 0.3s linear;
  font-family: nats, ubuntu, sans-serif;
  background-color: var(--background-dark);
  color: var(--background-light);
  --current-bg: var(--background-dark);
  --current-color: var(--background-light);
}
body.light {
  background-color: var(--background-light);
  color: var(--background-dark);
  --current-bg: var(--background-light);
  --current-color: var(--background-dark);
  --mask-color: #d8d4d4cc;
}

#app-mount {
  margin: auto;
  text-align: center;
}

a {
  color: var(--current-color);
  text-decoration: none;
}

@keyframes fade__in {
  from {
    opacity: 0;
  }
  top {
    opacity: 1;
  }
}

@keyframes scale_anim {
  0% {
    transform: scale(0.01);
  }
  to {
    transform: scale(1);
  }
}
button {
  color: inherit;
  background: var(--background-color);
}
